*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  font-size: 2rem;
  margin-bottom: 40px;
  background-color: #ddd;
  width: 100%;
  padding: 15px;
  border-radius: 8px;

}

.getAdvice{
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: rgb(255, 181, 181);
}

div{
  text-align: center;
}
p{
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}

span{
  background-color: rgb(128, 108, 108);
  padding: 5px;
  border-radius: 8px;
}